.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.traffic-light{
background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5px;
    border-radius: 4px;
}

.light {
    
    width: 100px; 
            height: 100px; 
            background-color: #3498db; 
            border-radius: 50%; 
}
.red{
    background-color: red;
}
.yellow{
    background-color:  yellow;
}
.green{
    background-color: green;
}
.glow{
    box-shadow: 0px 0px 9px 9px rgb(40, 19, 238);
}